/*toda la pagina*/
*,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(238, 238, 238);
}

h1,
h2 {
    font-family: 'Fjalla One', sans-serif;
    color: rgb(178, 80, 104);
}

p {
    font-family: 'Roboto', sans-serif;
    color: black;
}

/* logo, navegador, buscador*/

header {
    display: flex;
    height: 60px;
    background-color: rgb(57, 62, 70);
    justify-content: space-around;
}

.navbar .container-fluid .navbar-toggler span {
    background-color: rgb(57, 62, 70);
}

.logo img {
    height: 60px;
    width: 150px;
    display: flex;
    background-color: rgb(57, 62, 70);
}

ul li a,
.nav-link {
    text-decoration: none;
    color: white;
    font-size: medium;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(57, 62, 70);
}

.navbar,
.navbar .container-fluid {
    background-color: rgb(57, 62, 70)
}

.buscador form {
    display: flex;
    background-color: rgb(57, 62, 70);
    justify-content: center;
}

button,
.suscribirse input,
.buscador form input {
    background-color: rgb(238, 238, 238);
    color: rgb(178, 80, 104);
    border-radius: 5px;
    height: 25px;
    font-size: small;
}

.navbar form button {
    width: 30px;
}

/*Main index*/

.row .col-xl-6 img {
    height: 100%;
    width: 100%;
    padding-top: 40px;
}

.row {
    padding-bottom: 40px;
    font-size: small;
}

.row .titulo_album,
.row .hero {
    padding: 40px;
}

/* footer*/

footer {
    padding-top: 80px;
}

.pie_pagina .grupo_1,
.pie_pagina .col-xl-6,
.pie_pagina .grupo_1 .suscribirse,
.pie_pagina .grupo_1 .suscribirse form,
.pie_pagina .grupo_1 .iconos .d-flex {
    background-color: rgb(57, 62, 70);
    padding-top: 5px;
}


.pie_pagina .grupo_2 .lema p,
.pie_pagina .grupo_2 .lema p strong,
.pie_pagina .grupo_2 .row {
    color: white;
    background-color: rgb(57, 62, 70);
    text-align: center;
    padding: 0;
    font-size: large;
}

.pie_pagina .grupo_2 .small p {
    font-size: small;
    padding-bottom: 20px;
    background-color: rgb(57, 62, 70);
    color: white;
}

.pie_pagina .grupo_1 .iconos a:hover {
    color: rgb(178, 80, 104);
}


/*Discografia*/

.titulo_disco {
    padding: 20px;
}

.col-xl-3 {
    padding: 20px;
}

/*tour*/
.titulo_tour h2 {
    padding: 30px;
}

.fechas {
    padding-bottom: 30px;
    font-size: medium;
    text-align: center
}

.fechas button {
    width: 60px;
    height: 30px;
    background-color: rgb(57, 62, 70);
    color: white;
}

/*contenido*/

.titulo_contenido h2 {
    padding: 20px;
}

/*Miembros*/

.titulo_miembros h2 {
    padding: 30px;
}

.integrantes div img {
    height: auto;
    width: 300px;
}

.integrantes div p {
    font-size: 12px;
}

.Bangchan,
.Hyunjin,
.Leeknow,
.Seungmin {
    text-align: right;
}


@media screen and (max-width: 1199px) {
.integrantes div  {
        text-align: center;
    }
}
/*
@media screen and (max-width: 1199px) {
    .integrantes .row .Changbin, .integrantes .row .Felix {
        display: flex;
        flex-direction: column-reverse;
        }
    }
*/
